div{
    background-image:
    linear-gradient(to right bottom, rgba(0, 81, 255, 0.185),rgba(184, 23, 23, 0.555)),
    url(1232.WWDC_2019_Dark-1024w-1366h@2xipad.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}
div h1{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    font-style: italic;
    font-size: 100px;   
}
div li{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: larger;
}