body{
    margin: 0;
}
div{
    background-image:
    linear-gradient(to right bottom, rgba(0, 81, 255, 0.485),rgba(184, 23, 23, 0.485)),
    url(EA797AlWwAA-nc2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}
div h1{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    font-style: italic;
    font-size: 100px;   
}
div ul{
    list-style: none;
}
div li{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: larger;
}
div img{
    display: block;
    margin: auto;
    height: 500px;
    filter: contrast(5);
}
div li span{
    font-size: 50px;
    font-family: monospace;
    letter-spacing: 50;
}
