div{
    background-image:
    linear-gradient(to right bottom, rgba(0, 81, 255, 0.199),rgba(255, 255, 255, 0.219)),
    url(1232.WWDC_2019_Dark-1024w-1366h@2xipad.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}
div h1{
    text-transform: uppercase;
    text-align: center;
    font-family: cursive;   
}
div li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: larger;
}